[baseos]
name=Rocky Linux 9 - BaseOS local file
baseurl={{ repo_base_url }}/rockylinux/9/baseos/
enabled=1
gpgcheck=0

[appstream]
name=Rocky Linux 9 - AppStream local file
baseurl={{ repo_base_url }}/rockylinux/9/appstream/
enabled=1
gpgcheck=0
